@tailwind base;
@tailwind components;
@tailwind utilities;

.styleInput {
  @apply block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}
.styleLabel {
  @apply block text-sm font-medium leading-6 text-gray-900;
}
.styleButton {
  @apply py-2 px-5 bg-sky-700 rounded-lg text-white font-medium my-3;
}
.style-view {
  @apply bg-sky-100 rounded-md text-center px-2 font-medium text-sky-800 hover:underline dark:text-sky-500;
}
.style-update {
  @apply bg-cyan-100 rounded-md text-center px-2 font-medium text-cyan-800 hover:underline dark:text-sky-500;
}
.style-delete {
  @apply bg-red-100 rounded-md text-center px-2 font-medium text-red-800 hover:underline dark:text-sky-500;
}
.styleButton-outline {
  @apply py-2 px-5 border-solid border-2 border-sky-700 rounded-lg text-sky-700 font-medium my-3;
}
.style-talble {
  @apply px-4 py-2 whitespace-nowrap;
}
